# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Editors
.vscode/
.idea/
*.swp
*.swo

# Logs / temp
*.log
*.tmp

# Local backups / working files
index_backup*.html
headshot.jpeg
*.pdf
*.jpeg
*.jpg
*.png
*.docx
